* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body{
  background: #1E1F25;
}
.content {
  margin: 100px 100px 100px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 40px;
  background-image: url('exam.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(0,0,0,.5);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #ffffff ;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
ul{
  background-color: rgba(0,0,0,.5);
  display: flex;
  margin: auto;
  max-width: 2000px;
  justify-content: space-between;
  text-align: center;
}
li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
}
li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 150% 150%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}